@import "variables";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
    
}

nav{
    display: flex;
    justify-content: space-around;
    text-align: center;    
   
    .nav-right{
     ul{
        list-style-type: none;
        display: inline-block;
        display: flex;
        margin-top: 1rem;   
       
       }

       li{
        margin-top: 5px;
       }

       a{
        text-decoration: none;
        color: black;
        padding: 1rem;
        font-weight: 400;
        font-size: 16px;
       }

       :hover{
        color: $primary-color;
       }
       
       button{
        @include button;
        } 

        button:hover{
        background-color: #c84a4c;
        color: white;
        }           
     }    
     
     .nav-left{
        position:relative;        
        margin-top: 1rem;
        margin-left:1px;        
        font-weight: 400;
        font-size: 24;
      }
}

main{   
        display: flex;        
        justify-content:space-evenly;

    .main-right{
        margin-top: 100px;
        img{
            justify-content: right;
            width: 500px;
            height: 500px;          
                        
        }
        
    }
    
    .main-left{
        margin-top: 200px;
        
        .greentext{
            color: $primary-color;
            font-size: 4rem;
            font-weight: $font-weight;
            line-height: $line-height;         
                     
            
        }
        h1{
            color: black;
            font-size: 3rem;
            font-style: normal;
            font-weight: $font-weight;
            line-height: $line-height;            
        }

        h4{
            font-size: 1.5rem;
            line-height: 38px;
        }
        
        button{
            @include button;
            margin-top:20px;
            background: linear-gradient(to left, $primary-color 50%, #c84a4c 50%) right ;
            background-size: 200%;            
            transition: all .3s ease-out;
        }button:hover{
            background-position: left bottom;
            


        }
    }
}
